/*primary font*/
/*link*/
/* Mixins */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important; }

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  position: relative; }
  html.overlayed,
  body.overlayed {
    overflow: hidden !important; }

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block; }

main {
  min-height: 100%;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }
  main.offset {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0); }

a {
  display: inline-block;
  text-decoration: none;
  color: #369;
  transition: .2s;
  position: relative; }
  a:hover, a:focus {
    text-decoration: none;
    color: #147; }

/* clear */
.clear-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.clear-col {
  padding-left: 0;
  padding-right: 0; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

/* align */
.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

/* cover image */
.image-cover {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .image-cover img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .image-cover img.vertical {
      top: 50%;
      left: 0;
      height: auto;
      width: 100%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }

/*contain image*/
.image-contain {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .image-contain img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/*vertical align*/
.verticaly-top,
.verticaly-middle,
.verticaly-bottom {
  width: 100%;
  height: 100%;
  white-space: nowrap; }
  .verticaly-top:after,
  .verticaly-middle:after,
  .verticaly-bottom:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%; }
  .verticaly-top .inner,
  .verticaly-middle .inner,
  .verticaly-bottom .inner {
    display: inline-block;
    width: 100%;
    white-space: normal; }

.verticaly-top:after,
.verticaly-top .inner {
  vertical-align: top; }

.verticaly-middle:after,
.verticaly-middle .inner {
  vertical-align: middle; }

.verticaly-bottom:after,
.verticaly-bottom .inner {
  vertical-align: bottom; }

/* owl carousel */
.owl-item {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.relative {
  position: relative; }

.buttons-list {
  list-style: none;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center; }
  .buttons-list > li {
    margin: 15px 0; }
  .buttons-list .btn {
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
    max-width: 150px;
    width: 100%;
    border-radius: 0;
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    display: inline-block;
    color: #000; }
  .buttons-list .btn-bg-to-right {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: color .5s, border-color .3s; }
    .buttons-list .btn-bg-to-right:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #15d0c2;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      transition-duration: .5s;
      transition-timing-function: ease-out; }
    .buttons-list .btn-bg-to-right:hover, .buttons-list .btn-bg-to-right:focus {
      color: #fff;
      border-color: #15d0c2; }
      .buttons-list .btn-bg-to-right:hover:before, .buttons-list .btn-bg-to-right:focus:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
  .buttons-list .btn-bg-bounce-to-right {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: color .3s, border-color .3s; }
    .buttons-list .btn-bg-bounce-to-right:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #15d0c2;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      transition-duration: .3s;
      transition-timing-function: ease-out; }
    .buttons-list .btn-bg-bounce-to-right:hover, .buttons-list .btn-bg-bounce-to-right:focus {
      color: #fff;
      border-color: #15d0c2; }
      .buttons-list .btn-bg-bounce-to-right:hover:before, .buttons-list .btn-bg-bounce-to-right:focus:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
  .buttons-list .btn-bg-scale {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: color .3s, border-color .3s; }
    .buttons-list .btn-bg-scale:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #15d0c2;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 50%;
      transform-origin: 50%;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      transition-duration: .3s;
      transition-timing-function: ease-out; }
    .buttons-list .btn-bg-scale:hover, .buttons-list .btn-bg-scale:focus {
      color: #fff;
      border-color: #15d0c2; }
      .buttons-list .btn-bg-scale:hover:before, .buttons-list .btn-bg-scale:focus:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
  .buttons-list .btn-border-animation {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0); }
    .buttons-list .btn-border-animation:before {
      content: "";
      position: absolute;
      border: #e1e1e1 solid 6px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      opacity: 0; }
    .buttons-list .btn-border-animation:hover:before, .buttons-list .btn-border-animation:focus:before {
      opacity: 1;
      -webkit-animation-name: border-animation;
      animation-name: border-animation; }
  .buttons-list .btn-border-bottom {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden; }
    .buttons-list .btn-border-bottom:before {
      content: "";
      position: absolute;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: #15d0c2;
      height: 4px;
      transition-property: left, right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; }
    .buttons-list .btn-border-bottom:hover:before, .buttons-list .btn-border-bottom:focus:before {
      left: 0;
      right: 0; }
  .buttons-list .btn-bg-scale-2 {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    transition: color .3s, border-color .3s; }
    .buttons-list .btn-bg-scale-2:before {
      content: '';
      position: absolute;
      z-index: -1;
      transition: all 0.3s;
      width: 100%;
      height: 0;
      top: 50%;
      left: 50%;
      background: #15d0c2;
      opacity: 0;
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform: translateX(-50%) translateY(-50%) rotate(45deg); }
    .buttons-list .btn-bg-scale-2:hover, .buttons-list .btn-bg-scale-2:focus {
      color: #fff;
      border-color: #15d0c2; }
      .buttons-list .btn-bg-scale-2:hover:before, .buttons-list .btn-bg-scale-2:focus:before {
        height: 260%;
        opacity: 1; }
    .buttons-list .btn-bg-scale-2:active:before {
      height: 400%;
      opacity: 1; }
  .buttons-list .btn-flash {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    transition: border-color .3s; }
    .buttons-list .btn-flash:before {
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      background: #15d0c2;
      z-index: -10; }
    .buttons-list .btn-flash:hover, .buttons-list .btn-flash:focus {
      border-color: #15d0c2; }
      .buttons-list .btn-flash:hover:before, .buttons-list .btn-flash:focus:before {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1); }
  .buttons-list .btn-text {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    color: #000;
    transition: border-color .3s, background-color .3s, color .3s; }
    .buttons-list .btn-text:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      background-color: #15d0c2;
      transition: all 0.5s; }
    .buttons-list .btn-text span {
      z-index: 2;
      display: inline-block;
      position: relative; }
    .buttons-list .btn-text:hover, .buttons-list .btn-text:focus {
      color: #fff;
      border-color: #15d0c2;
      background-color: rgba(255, 255, 255, 0.2); }
      .buttons-list .btn-text:hover:before, .buttons-list .btn-text:focus:before {
        opacity: 1;
        -webkit-transform: skewX(-180deg) scale(0.5, 1);
        transform: skewX(-180deg) scale(0.5, 1); }
  .buttons-list .btn-border {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    color: #000;
    transition: border-color .3s, background-color .3s, color .3s; }
    .buttons-list .btn-border:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transition: all 0.3s; }
    .buttons-list .btn-border:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      background-color: #fdfdfd;
      transition: all 0.3s;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5); }
    .buttons-list .btn-border span {
      z-index: 10;
      position: relative; }
    .buttons-list .btn-border:hover, .buttons-list .btn-border:focus {
      border-color: transparent;
      background-color: rgba(255, 255, 255, 0.2); }
      .buttons-list .btn-border:hover:before, .buttons-list .btn-border:focus:before {
        opacity: 0;
        border-color: #15d0c2;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2); }
      .buttons-list .btn-border:hover:after, .buttons-list .btn-border:focus:after {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1); }
  .buttons-list .btn-bg {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    color: #000;
    transition: border-color .3s, color .3s;
    overflow: hidden; }
    .buttons-list .btn-bg:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(21, 208, 194, 0.5);
      transition: all 0.3s;
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
    .buttons-list .btn-bg:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(21, 208, 194, 0.5);
      transition: all 0.3s;
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      transition-delay: 0.2s; }
    .buttons-list .btn-bg span {
      z-index: 10;
      position: relative; }
    .buttons-list .btn-bg:hover, .buttons-list .btn-bg:focus {
      border-color: #15d0c2;
      color: #fff; }
      .buttons-list .btn-bg:hover:before, .buttons-list .btn-bg:focus:before {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
      .buttons-list .btn-bg:hover:after, .buttons-list .btn-bg:focus:after {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }

@-webkit-keyframes border-animation {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0; } }

@keyframes border-animation {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0; } }

.cards-list {
  list-style: none; }
  .cards-list > li {
    margin: 30px 0; }

.card {
  width: 100%;
  max-width: 300px;
  border: 1px solid #c1c1c1;
  text-align: center;
  margin: 0 auto;
  cursor: pointer; }
  .card .image img {
    max-width: 100%; }
  .card .content {
    padding: 15px; }
    .card .content .subtitle {
      font-size: 12px;
      text-transform: uppercase;
      margin: 10px 0 15px; }
    .card .content .title {
      font-size: 16px;
      font-weight: 700;
      margin: 15px 0; }
    .card .content .link {
      text-transform: uppercase;
      font-size: 12px; }

.card.effect1 {
  overflow: hidden; }
  .card.effect1 .image {
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    position: relative; }
    .card.effect1 .image:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity .5s; }
  .card.effect1 .content {
    position: relative;
    z-index: 10;
    transition: color .5s, -webkit-transform .5s;
    transition: color .5s, transform .5s;
    transition: color .5s, transform .5s, -webkit-transform .5s; }
    .card.effect1 .content .link {
      transition: color .5s; }
  .card.effect1:hover .content {
    color: #fff;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
    .card.effect1:hover .content .link {
      color: #fff; }
  .card.effect1:hover .image {
    -webkit-transform: scale(3);
    transform: scale(3); }
    .card.effect1:hover .image:before {
      opacity: 1; }

.card.effect2 {
  overflow: hidden; }
  .card.effect2 .image {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    z-index: 15;
    position: relative; }
  .card.effect2 .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s; }
  .card.effect2:hover .image {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  .card.effect2:hover .content {
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%); }

.card.effect3 {
  overflow: hidden;
  padding-bottom: 120px;
  position: relative; }
  .card.effect3 .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s; }
    .card.effect3 .content .description {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      transition: opacity .3s; }
  .card.effect3:hover .content {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.card.effect4 {
  position: relative;
  overflow: hidden; }
  .card.effect4:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 4;
    opacity: 0;
    transition: opacity .3s; }
  .card.effect4 .wrap {
    position: relative; }
    .card.effect4 .wrap:before {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      bottom: 30px;
      left: 15px;
      right: 30px;
      z-index: 10;
      border-left: 3px solid #fff;
      border-top: 3px solid #fff;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
    .card.effect4 .wrap:after {
      content: '';
      display: block;
      position: absolute;
      top: 30px;
      bottom: 15px;
      left: 30px;
      right: 15px;
      z-index: 10;
      border-right: 3px solid #fff;
      border-bottom: 3px solid #fff;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
  .card.effect4 .image {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  .card.effect4 .content {
    background-color: transparent;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 5;
    position: relative;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
    .card.effect4 .content .subtitle {
      opacity: 1;
      transition: opacity .3s; }
    .card.effect4 .content .title {
      position: relative;
      color: #000;
      transition: color .3s; }
    .card.effect4 .content .link {
      opacity: 1;
      transition: opacity .3s; }
  .card.effect4:hover:before {
    opacity: 1; }
  .card.effect4:hover .wrap:before {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .card.effect4:hover .wrap:after {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .card.effect4:hover .image {
    -webkit-transform: scale(3);
    transform: scale(3); }
  .card.effect4:hover .content {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
    .card.effect4:hover .content .subtitle {
      opacity: 0; }
    .card.effect4:hover .content .title {
      color: #fff; }
    .card.effect4:hover .content .link {
      opacity: 0; }

.card.effect5 {
  overflow: hidden;
  padding-bottom: 120px;
  position: relative; }
  .card.effect5 .image {
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s; }
  .card.effect5 .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s; }
    .card.effect5 .content .description {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      transition: opacity .5s; }
  .card.effect5:hover .image {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  .card.effect5:hover .content {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.card.effect6 {
  overflow: hidden;
  position: relative; }
  .card.effect6 .image {
    overflow: hidden; }
    .card.effect6 .image img {
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
  .card.effect6:hover .image img {
    -webkit-transform: rotate3d(0, 0, 1, -15deg) scale(2);
    transform: rotate3d(0, 0, 1, -15deg) scale(2); }

.card.effect7 {
  overflow: hidden;
  position: relative; }
  .card.effect7 .image {
    overflow: hidden; }
    .card.effect7 .image img {
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
  .card.effect7 .content {
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    background-color: #fff; }
  .card.effect7:hover .image img {
    -webkit-transform: rotate3d(0, 0, 1, -15deg) scale(2);
    transform: rotate3d(0, 0, 1, -15deg) scale(2); }
  .card.effect7:hover .content {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); }

.card.effect8 {
  overflow: hidden;
  position: relative; }
  .card.effect8 .image {
    overflow: hidden; }
    .card.effect8 .image img {
      -webkit-transform: scale(2);
      transform: scale(2);
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
  .card.effect8 .content {
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    background-color: #fff; }
  .card.effect8:hover .image img {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .card.effect8:hover .content {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%); }

.card.effect8 {
  overflow: hidden;
  position: relative; }
  .card.effect8 .image {
    overflow: hidden; }
    .card.effect8 .image img {
      -webkit-transform: scale(2) rotate(-15deg);
      transform: scale(2) rotate(-15deg);
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
  .card.effect8 .content {
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    background-color: #fff; }
  .card.effect8:hover .image img {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .card.effect8:hover .content {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%); }

.card.effect9 {
  overflow: hidden;
  position: relative; }
  .card.effect9 .image {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  .card.effect9 .content {
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    background-color: #fff; }
  .card.effect9:hover .image {
    -webkit-transform: scale(2);
    transform: scale(2); }
  .card.effect9:hover .content {
    -webkit-transform: translateY(25%);
    transform: translateY(25%); }

.card.effect10 {
  overflow: hidden;
  position: relative; }
  .card.effect10:before {
    content: '';
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 25px;
    z-index: 5;
    -webkit-transform: scale(2);
    transform: scale(2);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  .card.effect10 .image {
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    position: relative; }
    .card.effect10 .image:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      transition: opacity .3s; }
  .card.effect10 .content {
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
    .card.effect10 .content .subtitle {
      opacity: 1;
      transition: opacity .3s; }
    .card.effect10 .content .title {
      z-index: 15;
      position: relative;
      transition: color .3s; }
      .card.effect10 .content .title:before, .card.effect10 .content .title:after {
        content: '';
        display: block;
        position: absolute;
        height: 3px;
        width: 20%;
        top: 50px;
        background-color: #fff;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s; }
      .card.effect10 .content .title:before {
        left: 0; }
      .card.effect10 .content .title:after {
        right: 0; }
    .card.effect10 .content .link {
      opacity: 1;
      transition: opacity .3s; }
  .card.effect10:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .card.effect10:hover .image {
    -webkit-transform: scale(3);
    transform: scale(3); }
    .card.effect10:hover .image:before {
      opacity: 1; }
  .card.effect10:hover .content {
    -webkit-transform: translateY(25%);
    transform: translateY(25%); }
    .card.effect10:hover .content .subtitle {
      opacity: 0; }
    .card.effect10:hover .content .title {
      color: #fff; }
      .card.effect10:hover .content .title:before, .card.effect10:hover .content .title:after {
        top: 8px; }
    .card.effect10:hover .content .link {
      opacity: 0; }

.row,
.row.reverse {
  box-orient: horizontal; }

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1170px; }

.row {
  box-sizing: border-box;
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row:after {
    content: '';
    display: table;
    clear: both; }

.row.collapsed-row {
  margin-right: 0;
  margin-left: 0; }
  .row.collapsed-row > * {
    padding-left: 0;
    padding-right: 0; }

.row.paddless-row {
  margin-right: -5px;
  margin-left: -5px; }
  .row.paddless-row > * {
    padding-left: 5px;
    padding-right: 5px; }

[class*="col-xs-"],
[class*="col-ms-"],
[class*="col-sm-"],
[class*="col-md-"],
[class*="col-lg-"] {
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  max-width: 100%; }

.hidden,
.none,
.ms-show,
.sm-show,
.md-show,
.lg-show,
.ms-inline,
.sm-inline,
.md-inline,
.lg-inline,
.ms-block,
.sm-block,
.md-block,
.lg-block {
  display: none; }

/*xs*/
.col-xs-1 {
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  width: 8.33333%; }

.col-xs-2 {
  -webkit-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  width: 16.66667%; }

.col-xs-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
  width: 25%; }

.col-xs-4 {
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  width: 33.33333%; }

.col-xs-5 {
  -webkit-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  width: 41.66667%; }

.col-xs-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
  width: 50%; }

.col-xs-7 {
  -webkit-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  width: 58.33333%; }

.col-xs-8 {
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  width: 66.66667%; }

.col-xs-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
  width: 75%; }

.col-xs-10 {
  -webkit-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  width: 83.33333%; }

.col-xs-11 {
  -webkit-flex-basis: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  width: 91.66667%; }

.col-xs-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
  width: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.xs-hide {
  display: none; }

.xs-inline {
  display: inline; }

.xs-show {
  display: inline-block; }

.xs-block {
  display: block; }

.start-xs {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.middle-xs {
  -webkit-align-items: center;
  align-items: center; }

.bottom-xs {
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.around-xs {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.between-xs {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.first-xs {
  -webkit-order: -1;
  order: -1; }

.last-xs {
  -webkit-order: 1;
  order: 1; }

/*ms*/
@media (min-width: 481px) {
  .col-ms-1 {
    -webkit-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%; }
  .col-ms-2 {
    -webkit-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%; }
  .col-ms-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
    width: 25%; }
  .col-ms-4 {
    -webkit-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%; }
  .col-ms-5 {
    -webkit-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%; }
  .col-ms-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
    width: 50%; }
  .col-ms-7 {
    -webkit-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%; }
  .col-ms-8 {
    -webkit-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%; }
  .col-ms-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
    width: 75%; }
  .col-ms-10 {
    -webkit-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%; }
  .col-ms-11 {
    -webkit-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%; }
  .col-ms-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%; }
  .col-ms-offset-0 {
    margin-left: 0%; }
  .col-ms-offset-1 {
    margin-left: 8.33333%; }
  .col-ms-offset-2 {
    margin-left: 16.66667%; }
  .col-ms-offset-3 {
    margin-left: 25%; }
  .col-ms-offset-4 {
    margin-left: 33.33333%; }
  .col-ms-offset-5 {
    margin-left: 41.66667%; }
  .col-ms-offset-6 {
    margin-left: 50%; }
  .col-ms-offset-7 {
    margin-left: 58.33333%; }
  .col-ms-offset-8 {
    margin-left: 66.66667%; }
  .col-ms-offset-9 {
    margin-left: 75%; }
  .col-ms-offset-10 {
    margin-left: 83.33333%; }
  .col-ms-offset-11 {
    margin-left: 91.66667%; }
  .col-ms-offset-12 {
    margin-left: 100%; }
  .ms-hide {
    display: none; }
  .ms-inline {
    display: inline; }
  .ms-show {
    display: inline-block; }
  .ms-block {
    display: block; }
  .start-ms {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-ms {
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-ms {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-ms {
    -webkit-align-items: flex-start;
    align-items: flex-start; }
  .middle-ms {
    -webkit-align-items: center;
    align-items: center; }
  .bottom-ms {
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .around-ms {
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .between-ms {
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .first-ms {
    -webkit-order: -1;
    order: -1; }
  .last-ms {
    -webkit-order: 1;
    order: 1; } }

/*sm*/
@media (min-width: 769px) {
  .col-sm-1 {
    -webkit-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%; }
  .col-sm-2 {
    -webkit-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%; }
  .col-sm-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
    width: 25%; }
  .col-sm-4 {
    -webkit-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%; }
  .col-sm-5 {
    -webkit-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%; }
  .col-sm-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
    width: 50%; }
  .col-sm-7 {
    -webkit-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%; }
  .col-sm-8 {
    -webkit-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%; }
  .col-sm-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
    width: 75%; }
  .col-sm-10 {
    -webkit-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%; }
  .col-sm-11 {
    -webkit-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%; }
  .col-sm-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .sm-hide {
    display: none; }
  .sm-inline {
    display: inline; }
  .sm-show {
    display: inline-block; }
  .sm-block {
    display: block; }
  .start-sm {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-align-items: flex-start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-align-items: center;
    align-items: center; }
  .bottom-sm {
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .around-sm {
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .between-sm {
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .first-sm {
    -webkit-order: -1;
    order: -1; }
  .last-sm {
    -webkit-order: 1;
    order: 1; } }

/*md*/
@media (min-width: 993px) {
  .col-md-1 {
    -webkit-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%; }
  .col-md-2 {
    -webkit-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%; }
  .col-md-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
    width: 25%; }
  .col-md-4 {
    -webkit-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%; }
  .col-md-5 {
    -webkit-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%; }
  .col-md-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
    width: 50%; }
  .col-md-7 {
    -webkit-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%; }
  .col-md-8 {
    -webkit-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%; }
  .col-md-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
    width: 75%; }
  .col-md-10 {
    -webkit-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%; }
  .col-md-11 {
    -webkit-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%; }
  .col-md-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .md-hide {
    display: none; }
  .md-inline {
    display: inline; }
  .md-show {
    display: inline-block; }
  .md-block {
    display: block; }
  .start-md {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-align-items: flex-start;
    align-items: flex-start; }
  .middle-md {
    -webkit-align-items: center;
    align-items: center; }
  .bottom-md {
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .around-md {
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .between-md {
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .first-md {
    -webkit-order: -1;
    order: -1; }
  .last-md {
    -webkit-order: 1;
    order: 1; } }

/*lg*/
@media (min-width: 1201px) {
  .col-lg-1 {
    -webkit-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%; }
  .col-lg-2 {
    -webkit-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%; }
  .col-lg-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
    width: 25%; }
  .col-lg-4 {
    -webkit-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%; }
  .col-lg-5 {
    -webkit-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%; }
  .col-lg-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
    width: 50%; }
  .col-lg-7 {
    -webkit-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%; }
  .col-lg-8 {
    -webkit-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%; }
  .col-lg-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
    width: 75%; }
  .col-lg-10 {
    -webkit-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%; }
  .col-lg-11 {
    -webkit-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%; }
  .col-lg-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .lg-hide {
    display: none; }
  .lg-inline {
    display: inline; }
  .lg-show {
    display: inline-block; }
  .lg-block {
    display: block; }
  .start-lg {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-align-items: flex-start;
    align-items: flex-start; }
  .middle-lg {
    -webkit-align-items: center;
    align-items: center; }
  .bottom-lg {
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .around-lg {
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .between-lg {
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .first-lg {
    -webkit-order: -1;
    order: -1; }
  .last-lg {
    -webkit-order: 1;
    order: 1; } }

.wrap {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; }
  .wrap.larger-width {
    max-width: 1000px; }

.list1 {
  list-style: none;
  counter-reset: counter;
  position: relative; }
  .list1:before {
    content: '';
    display: block;
    background-color: #ccc;
    width: 1px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    left: 12px;
    z-index: 1; }
  .list1:after {
    content: '\25BC';
    position: absolute;
    bottom: -30px;
    left: 6px;
    z-index: 2; }
  .list1 > li {
    counter-increment: counter;
    position: relative;
    padding: 0 0 15px 40px; }
    .list1 > li:before {
      content: counter(counter);
      display: inline-block;
      background-color: #ccc;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      color: #fff;
      border-radius: 50%;
      vertical-align: top;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2; }
    .list1 > li:after {
      content: '';
      display: block;
      background-color: #ccc;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 12px;
      z-index: 1; }
    .list1 > li:first-child:before {
      width: 35px;
      height: 35px;
      line-height: 35px;
      left: -5px; }
    .list1 > li:last-child:before {
      width: 35px;
      height: 35px;
      line-height: 35px;
      left: -5px; }

.list2 {
  list-style: none;
  font-size: 0;
  counter-reset: counter2;
  position: relative; }
  .list2:before {
    content: '';
    display: block;
    background-color: #ccc;
    box-shadow: 0 0 0 2px #fff, 0 0 0 5px #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2; }
  .list2 > li {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    vertical-align: top;
    counter-increment: counter2;
    padding: 30px 0;
    position: relative; }
    .list2 > li:nth-child(odd) {
      padding-right: 30px; }
      .list2 > li:nth-child(odd):before {
        content: '';
        display: block;
        position: absolute;
        top: 45px;
        right: 0;
        background-color: #ccc;
        width: 1px;
        height: calc(100% - 45px); }
      .list2 > li:nth-child(odd):after {
        content: '';
        display: block;
        position: absolute;
        top: 90px;
        right: -11px;
        background-color: #fff;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 50%;
        z-index: 2; }
    .list2 > li:nth-child(even) {
      padding-left: 30px; }
      .list2 > li:nth-child(even):before {
        content: '';
        display: block;
        position: absolute;
        top: 110px;
        left: -1px;
        background-color: #ccc;
        width: 1px;
        height: 100%; }
      .list2 > li:nth-child(even):after {
        content: '';
        display: block;
        position: absolute;
        top: 120px;
        left: -11px;
        background-color: #fff;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 50%;
        z-index: 2; }
      .list2 > li:nth-child(even) .list-item:before {
        left: 15px; }
    .list2 > li:nth-child(2):after {
      top: 140px; }
    .list2 > li:last-child:before {
      height: calc(100% - 110px); }
    .list2 > li .list-item {
      position: relative;
      background-color: rgba(100, 100, 100, 0.1);
      padding: 30px 15px 30px 30px; }
      .list2 > li .list-item:before {
        content: counter(counter2);
        display: inline-block;
        color: rgba(200, 200, 200, 0.3);
        vertical-align: top;
        position: absolute;
        top: 50%;
        right: 15px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
        font-size: 100px; }
    .list2 > li .title {
      z-index: 2;
      position: relative; }
    .list2 > li .description {
      z-index: 2;
      position: relative; }

.main-header {
  width: 100%;
  height: auto;
  padding: 30px 0; }

.fixed-menu {
  background-color: #f7f7f7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .fixed-menu.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 50; }

.main-menu {
  list-style: none;
  font-size: 0;
  margin: 0 -15px;
  height: 100%; }
  .main-menu > li {
    font-size: 14px;
    display: inline-block;
    vertical-align: top; }
    .main-menu > li a {
      color: #5f5f5f;
      padding: 30px 15px; }
      .main-menu > li a:hover {
        background-color: #efefef;
        color: #190f04; }
    .main-menu > li.active a {
      background-color: #efefef;
      color: #190f04; }

.mobile-menu-btn {
  display: none; }

@media (max-width: 1200px) {
  .main-header {
    background-color: #f7f7f7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .main-menu {
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 300px;
    z-index: 10;
    padding-top: 75px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
    .main-menu > li {
      display: block;
      text-align: center;
      margin-top: 0; }
      .main-menu > li a {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        width: 100%; }
      .main-menu > li:nth-child(1) a {
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-delay: .1s; }
      .main-menu > li:nth-child(2) a {
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-delay: .2s; }
      .main-menu > li:nth-child(3) a {
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-delay: .3s; }
      .main-menu > li:nth-child(4) a {
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-delay: .4s; }
    .main-menu.active {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
      .main-menu.active > li a {
        -webkit-transform: translateX(0);
        transform: translateX(0); }
  .mobile-menu-btn {
    display: block;
    font-size: 25px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px; }
    .mobile-menu-btn:before, .mobile-menu-btn:after {
      content: "";
      display: block;
      width: 28px;
      height: 4px;
      border-radius: 2px;
      background: #ccc;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
      transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s;
      transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
      margin: 0 auto; }
    .mobile-menu-btn:before {
      margin-bottom: 10px; }
    .mobile-menu-btn:hover:before, .mobile-menu-btn:hover:after, .mobile-menu-btn:focus:before, .mobile-menu-btn:focus:after {
      background: #969696; }
    .mobile-menu-btn.active {
      z-index: 15; }
      .mobile-menu-btn.active:before {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
        margin-bottom: -4px; }
      .mobile-menu-btn.active:after {
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg); } }

.section {
  padding: 150px 0; }

.selecter {
  display: inline-block;
  position: relative; }
  .selecter .anchor {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0c0c24;
    transition: .2s;
    font-size: 14px;
    text-transform: lowercase;
    font-weight: 500; }
    .selecter .anchor:after {
      content: "\e900";
      font-family: 'icomoon';
      font-size: 10px;
      margin-left: 15px; }
  .selecter .dropdown {
    position: absolute;
    top: -5px;
    left: 0;
    min-width: 130px;
    background: #fff;
    box-shadow: 0px 0px 16px 2px rgba(62, 60, 56, 0.07);
    display: none;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    padding-bottom: 15px; }
    .selecter .dropdown ul {
      list-style: none;
      position: relative; }
      .selecter .dropdown ul:before {
        content: "\e900";
        font-family: 'icomoon';
        font-size: 10px;
        position: absolute;
        right: 5px;
        top: 9px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
    .selecter .dropdown li {
      display: block;
      padding: 5px 10px;
      transition: .1s;
      cursor: default;
      color: #0c0c24;
      font-size: 14px;
      text-transform: lowercase; }
      .selecter .dropdown li:first-child {
        font-weight: 500; }
      .selecter .dropdown li:hover {
        background: #f7f7f7; }
    .selecter .dropdown .disabled {
      color: #ccc; }
  .selecter.opened .anchor {
    background: #f0f0f0; }
  .selecter.opened .dropdown {
    display: block; }
